body {
    position: relative;
    background-color: #333;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

nav {
    position: absolute;
    top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222;
    border-radius: 20px;
    color: #fff;
    padding: 10px;
    width: 640px;
    z-index: 10;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

button {
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f0f0f0;
    width: 100%;
    cursor: pointer;
}
button:hover {
    background-color: #ccc;
}

.message {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: 10px;
    width: 100%;
    height: 40px;
    color: #fff;
}

main {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

input {
    position: absolute;
    inset: 0;
    margin: auto;
    height: 380px;
    width: 620px;
    border-radius: 5px;
    color: #fff;
    z-index: 5;
}

canvas {
    position: absolute;
    inset: 0;
    margin: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
}

h1 {
    position: absolute;
    inset: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    z-index: -1;
}

footer {
    position: absolute;
    bottom: 20px;
    color: #fff;
    margin-top: 20px;
}
